#button-wrap{
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 80px;
	right: 0px;
	z-index: 2;
	background-color: $blue-opaque;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    @include breakpoint(max-width, 1200px){
    	bottom: 120px;
    }
    @include breakpoint(mobile-landscape){
    	bottom: 100px;
    }
	&:hover, &:focus, &:active{
		cursor: pointer;
		background-color: $blue-opaque-dark;
	}
	#extra{
		color: $white;
		font-size: 3em;
		line-height: 1em;
		position: absolute;
		top: 6px;
		left: 14px;
		-webkit-transition: all 300ms ease-in-out;
	    -moz-transition: all 300ms ease-in-out;
	    -o-transition: all 300ms ease-in-out;
	    transition: all 300ms ease-in-out;
	}
	#title, #jobs{
		margin-left: 150px;
		color: $white;
		font-family: $museobold, Helvetica, sans;
		font-size: 1.4em;
		padding: 16px 36px;
		text-transform: lowercase;
		-webkit-transition: all 300ms ease-in-out;
	    -moz-transition: all 300ms ease-in-out;
	    -o-transition: all 300ms ease-in-out;
	    transition: all 300ms ease-in-out;
	}
}
#button-wrap.open{
	width: 150px;
	#extra{
		font-size: 0;
	}
	#title, #jobs{
		margin-left: 0;
	}
}
.team{
	#button-wrap.open{
		width: 242px;
		height: 105px;
	}
}
#extra-modal, #positions-modal, .research-modal{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 10;
	background-color: $blue;
	background-color: $blue-opaque-dark;
	@include breakpoint(mobile){
		height: 90%;
		position: fixed;
		overflow: scroll;
	}
	.icon-close-modal{
		color: $white;
		font-size: 1.6em;
		position: absolute;
		top: 20px;
		right: 20px;
		&:hover, &:focus, &:active{
			font-size: 1.8em;
		}
		@include breakpoint(mobile){
			top: 10px;
			right: 10px;
		}
	}
	h2{
		font-family: $museobold, Helvetica, sans;
		color: $white;
		text-align: center;
		margin: 10px 0;
		padding: 20px 0 10px;
		text-transform: lowercase;
		@include breakpoint(tablet-small){
			font-size: 1.6em;
			margin: 10px 0 0 10px;
		}
	}
	h4, p, ul{
		width: 60%;
		font-family: $museobold, Helvetica, sans;
		color: $white;
		text-align: center;
		margin: 10px 20%;
		@include breakpoint(mobile-landscape){
			width: 80%;
			margin: 10px 10%;
		}
	}
	h4{
		margin-top: 50px;
		text-transform: lowercase;
		@include breakpoint(tablet-small){
			font-size: 1.2em;;
		}
		@include breakpoint(mobile-landscape){
			margin-top: 20px;
		}
	}
	p{
		@include breakpoint(tablet-small){
			font-size: 0.8em;;
		}
		a{
			color: $white;
			-webkit-transition: all 300ms ease-in-out;
		    -moz-transition: all 300ms ease-in-out;
		    -o-transition: all 300ms ease-in-out;
		    transition: all 300ms ease-in-out;
			&:hover, &:focus, &:active{
				color: $grey;
			}
		}
	}
	ul{
		list-style-type: none;
		li{
			font-family: $museobold, Helvetica, sans;
			color: $white;
			text-align: center;
			width: 100%;
		}
	}
	.alumni-wrap{
		width: 50%;
		float: left;
		padding: 0 20px;
		min-height: 103px;
		@include breakpoint(mobile){
			width: 100%;
		}
		h4, p{
			font-family: $museobold, Helvetica, sans;
			color: $white;
			width: 100%;
			text-align: center;
			margin: 10px 0;
		}
		h4{
			text-transform: lowercase;
			@include breakpoint(tablet-small){
				font-size: 1.2em;;
			}
		}
		p{
			@include breakpoint(tablet-small){
				font-size: 0.8em;;
			}
		}
	}
	.overbox{
		position: fixed;
		top: 46px;
		z-index: -1;
		background-color: $blue;
	}
}