#alumni, #funding{
	font-family: $museobold, Helvetica, sans;
	color: $white;
	text-align: center;
	display: block;
	background-color: $blue;
	background-color: $blue-opaque;
	width: 200px;
	float: left;
	height: 30px;
	padding: 10px;
	position: relative;
	left: 50%;
	margin-left: -100px;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	&:hover, &:focus, &:active{
		cursor: pointer;
		background-color: $blue;
	}
}
#alumni-modal, #funding-modal{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 46px;
	left: 0;
	z-index: 10;
	background-color: $blue;
	background-color: $blue-opaque-dark;
	@include breakpoint(mobile){
		height: 90%;
		position: fixed;
		overflow: scroll;
	}
	.icon-close{
		color: $white;
		font-size: 1.6em;
		position: absolute;
		top: 20px;
		right: 20px;
		&:hover, &:focus, &:active{
			font-size: 1.8em;
		}
		@include breakpoint(mobile){
			top: 10px;
			right: 10px;
		}
	}
	h2{
		font-family: $museobold, Helvetica, sans;
		color: $white;
		text-align: center;
		margin: 10px 0;
		padding: 20px 0 10px;
		text-transform: lowercase;
		@include breakpoint(tablet-small){
			font-size: 1.6em;
			margin: 10px 0 0 10px;
		}
	}
	h4, p{
		width: 60%;
		font-family: $museobold, Helvetica, sans;
		color: $white;
		text-align: center;
		margin: 10px 20%;
		@include breakpoint(mobile-landscape){
			width: 80%;
			margin: 10px 10%;
		}
	}
	h4{
		margin-top: 50px;
		text-transform: lowercase;
		@include breakpoint(tablet-small){
			font-size: 1.2em;;
		}
		@include breakpoint(mobile-landscape){
			margin-top: 20px;
		}
	}
	p{
		@include breakpoint(tablet-small){
			font-size: 0.8em;;
		}
	}
	.alumni-wrap{
		width: 50%;
		float: left;
		padding: 0 20px;
		@include breakpoint(mobile){
			width: 100%;
		}
		h4, p{
			font-family: $museobold, Helvetica, sans;
			color: $white;
			text-align: center;
			margin: 10px 0;
		}
		h4{
			text-transform: lowercase;
			@include breakpoint(tablet-small){
				font-size: 1.2em;;
			}
		}
		p{
			@include breakpoint(tablet-small){
				font-size: 0.8em;;
			}
		}
	}
}