.arrow-wrap {
  width: 50%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 2;
  .icon-arrow-down {
    color: #3e75bb;
    font-size: 2.2em;
    width: 60px;
    margin-left: -46px;
    filter: opacity(50);
    opacity: 0.5;
    &:hover, &:focus, &:active{
      cursor: pointer;
      filter: opacity(100);
      opacity: 1;
    }
    @include breakpoint(mobile-landscape){
        font-size: 1.6em;
        margin-left: -34px;
    }
  }
}

#about .arrow-wrap .icon-arrow-down, #research .arrow-wrap .icon-arrow-down{
  color: $white;
}
