/*/////////////
	Type Fonts
/////////////*/

$museolight: 'museo_sans_300regular';
@font-face {
    font-family: $museolight;
    src: url('../fonts/MuseoSans_300-webfont.eot');
    src: url('../fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_300-webfont.woff') format('woff'),
    url('../fonts/MuseoSans_300-webfont.ttf') format('truetype'),
    url('../fonts/MuseoSans_300-webfont.svg#museo_sans_300regular') format('svg');
    font-weight: normal;
    font-style: normal;

  }

  $museoregular: 'museo_sans_500regular';
  @font-face {
    font-family: $museoregular;
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
    url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
    url('../fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

  }

  $museobold: 'museo_sans_700regular';
  @font-face {
    font-family: $museobold;
    src: url('../fonts/MuseoSans_700-webfont.eot');
    src: url('../fonts/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_700-webfont.woff') format('woff'),
    url('../fonts/MuseoSans_700-webfont.ttf') format('truetype'),
    url('../fonts/MuseoSans_700-webfont.svg#museo_sans_700regular') format('svg');
    font-weight: normal;
    font-style: normal;

  }
  $museoextrabold: 'museo_sans_900regular';
  @font-face {
    font-family: $museoextrabold;
    src: url('../fonts/MuseoSans_900-webfont.eot');
    src: url('../fonts/MuseoSans_900-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_900-webfont.woff') format('woff'),
    url('../fonts/MuseoSans_900-webfont.ttf') format('truetype'),
    url('../fonts/MuseoSans_900-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;

  }

@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/DroidSerif-webfont.eot');
    src: url('../fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_serifbold';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*///////////
	Icons
///////////*/

@font-face {
    font-family: 'bestmannlab';
    src:url('../icons/fonts/bestmannlab.eot');
    src:url('../icons/fonts/bestmannlab.svg#bestmannlab') format('svg'),
        url('../icons/fonts/bestmannlab.eot?#iefix') format('embedded-opentype'),
        url('../icons/fonts/bestmannlab.woff') format('woff'),
        url('../icons/fonts/bestmannlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'bestmannlab';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
    content: "\e61b";
}
.icon-twitter:before {
    content: "\e61a";
}
.icon-automobile:before {
    content: "\e614";
}
.icon-airplane:before {
    content: "\e613";
}
.icon-bus:before {
    content: "\e615";
}
.icon-metro:before {
    content: "\e616";
}
.icon-phone:before {
    content: "\e617";
}
.icon-copy:before {
    content: "\e618";
}
.icon-angle-up:before {
    content: "\e619";
}
.icon-social:before {
    content: "\e600";
}
.icon-social-link:before {
    content: "\e601";
}
.icon-slider-right:before {
    content: "\e602";
}
.icon-slider-left:before {
    content: "\e603";
}
.icon-search:before {
    content: "\e604";
}
.icon-play:before {
    content: "\e605";
}
.icon-play-hover:before {
    content: "\e606";
}
.icon-menu:before {
    content: "\e607";
}
.icon-menu-arrow:before {
    content: "\e608";
}
.icon-mail:before {
    content: "\e609";
}
.icon-exclamation:before {
    content: "\e60a";
}
.icon-exclamation-round:before {
    content: "\e60b";
}
.icon-download:before {
    content: "\e60c";
}
.icon-contact:before {
    content: "\e60d";
}
.icon-close:before {
    content: "\e60e";
}
.icon-close-modal:before {
    content: "\e60f";
}
.icon-arrow-down:before {
    content: "\e610";
}
.icon-ampersand:before {
    content: "\e611";
}
.icon-svg:before {
    content: "\e612";
}
