#intro{
	position: relative;
	margin-top: 47px;
	background-color: $blue-opaque;
	@include breakpoint(mobile-landscape){
		height: 400px !Important;
	}
	#tweets.flexslider{
		width: 66.666%;
		height: 66.6%;
		background-image: url(../img/brain2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		margin: 0;
		float: left;
		overflow: hidden;
		@include breakpoint(tablet){
			width: 100%;
		}
		@include breakpoint(mobile-landscape){
			float: none;
			width: 100%;
			height: 200px;
			position: absolute;
			top: 0;
		}
		#tweet-wrapper.slides{
			width: 100%;
			height: 100%;
			position: relative;
			li.tweet{
				width: 80%;
				height: 100%;
				padding: 20px 10%;
				background-color: transparent;
				position: absolute;
				.text-wrapper{
					width: 100%;
					height: 100%;;
					position: relative;
					top: 0;
					left: 0;
					display: table;
					p{
						font-family: $museoregular, Helvetica, sans;
						color: $white;
						font-weight: 900;
						display: table-cell;
						vertical-align: middle;
						@include breakpoint(tablet){
							font-size: 0.8em;
							font-weight: 300;
						}
						a{
							color: $white;
							span{
								display: none;
								&:nth-child(2){
									display: block;
									font-size: 0.8em;
									width: auto;
									max-width: 80%;
									overflow: hidden;
								}
							}
						}
					}
				}
				#twitter-link{
					display: block;
					color: $white;
					font-weight: 900;
					position: absolute;
					left: -100%;
					bottom: -10px;
					-webkit-transition: all 300ms ease-in-out;
				    -moz-transition: all 300ms ease-in-out;
				    -o-transition: all 300ms ease-in-out;
				    transition: all 300ms ease-in-out;
				    @include breakpoint(mobile-landscape){
						left: 0;
					}
					.icon-twitter{
						font-size: 1.5em;
						-webkit-transition: all 300ms ease-in-out;
					    -moz-transition: all 300ms ease-in-out;
					    -o-transition: all 300ms ease-in-out;
					    transition: all 300ms ease-in-out;
						&:hover, &:focus, &:active{
							cursor: pointer;
						}
					}
				}
				&:hover, &:focus, &:active{
					#twitter-link{
						left: 0;
						@include breakpoint(mobile-landscape){
							left: 0;
						}
					}
				}
			}
		}
	}
	#news.flexslider{
		width: 100%;
		height: 66.666%;
		background-image: url(../img/intro_news.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		margin: 0;
		float: left;
		overflow: hidden;
		@include breakpoint(mobile-landscape){
			float: none;
			width: 100%;
			height: 200px;
			position: absolute;
			top: 200px;
		}
		ul li{
			width: 100%;
			height: 100%;
			.text-wrap{
				width: 100%;
				height: 100%;
				display: table;
				p{
					font-family: $museoregular, Helvetica, sans;
					color: $white;
					text-transform: lowercase;
					font-weight: 900;
					font-size: 1em;
					width: 80%;
					padding: 0 10%;
					text-align: center;
					display: table-cell;
					vertical-align: middle;
					@include breakpoint(tablet){
						font-size: 0.8em;
						font-weight: 300;
					}
					a{
						color: $white;
					}
				}
			}
		}
		#news-link{
			display: block;
			color: $white;
			font-weight: 900;
			position: absolute;
			left: -100%;
			bottom: 20px;
			z-index: 2;
			-webkit-transition: all 300ms ease-in-out;
		    -moz-transition: all 300ms ease-in-out;
		    -o-transition: all 300ms ease-in-out;
		    transition: all 300ms ease-in-out;
			@include breakpoint(mobile-landscape){
				width: 100px;
				left: 12%;
			}
		}
		&:hover, &:focus, &:active{
			#news-link{
				left: 10%;
				@include breakpoint(mobile-landscape){
					width: 100px;
					left: 12%;
				}
			}
		}
	}
	#introbox-large, #introbox-small{
		width: 66.666%;
		height: 100%;
		float: left;
		@include breakpoint(tablet){
			width: 50%;	
		}
		@include breakpoint(mobile-landscape){
			height: 74.666%;
		}
		#img1, #img2, #img3, #img4, .image-link{
			width: 33.333%;
			height: 33.333%;
			float: left;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			overflow: hidden;
			@include breakpoint(mobile-landscape){
				float: none;
				width: 100%;
				height: 100px;
			}
			@include breakpoint(mobile){
				height: 150px;
			}
			#quote{
				width: 100%;
				height: 100%;
				filter: opacity(0);
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				float: left;
				display: table;
				margin: 0;
				overflow: hidden;
				-webkit-transition: all 300ms ease-in-out;
			    -moz-transition: all 300ms ease-in-out;
			    -o-transition: all 300ms ease-in-out;
			    transition: all 300ms ease-in-out;
			    @include breakpoint(mobile-landscape){
			    	filter: opacity(100);
					opacity: 1;
			    }
				p, h2{
					font-family: $museoregular, Helvetica, sans;
					color: $white;
					text-transform: lowercase;
					font-size: 1em;
					font-weight: 900;
					width: 80%;
					padding: 0 10%;
					text-align: center;
					display: table-cell;
					vertical-align: middle;
					@include breakpoint(tablet){
						font-weight: 300;
					}
					a{
						color: $white;
					}
				}
				h2{
					font-size: 1em;
				}
			}
			&:hover, &:focus, &:active{
				#quote{
					filter: opacity(100);
					opacity: 1;
				}
			}
		}
		#img3{
			width: 100%;
			height: 33.4%;
			background-image: url(../img/intro_neurons.jpg);
			@include breakpoint(mobile-landscape){
				display: none;
			}
		}
		#img1, #img2, .image-link{
			@include breakpoint(tablet){
				display: none;
			}
		}
	}
	#introbox-small{
		width: 33.333%;
		float: left;
		@include breakpoint(tablet){
			width: 50%;	
		}
		@include breakpoint(mobile-landscape){
			width: 100%;
			height: 25%;
		}
		#img4{
			background-image: url(../img/intro_mri.jpg);
			width: 100%;
			height: 33.333%;
			@include breakpoint(mobile-landscape){
				display: none;
			}
		}
	}	
}