#mobile-nav{
	display: none;
	width: 100%;
	height: 100%;
	background-color: $blue;
	background-color: $blue-opaque-dark;
	position: fixed;
	z-index: 3;
	margin-top: 0;
	top: 46px;
	left: 0;
	-webkit-transition: right 300ms ease-in-out;
    -moz-transition: right 300ms ease-in-out;
    -o-transition: right 300ms ease-in-out;
    transition: right 300ms ease-in-out;
	ul{
		width: 100%;
		@include breakpoint (mobile-landscape){
			margin-top: 15px;
		}
		li{
			width: 100%;
			float: left;
			position: relative;
			line-height: 5em;
			@include breakpoint (mobile-landscape){
				line-height: 3em;
			}
			a{
				font-family: $museobold, Helvetica, sans;
				color: $white;
				font-size: 2em;
				text-align: center;
				display: block;
				width: 100%;
				text-align: center;
				&:hover, &:focus, &:active{
					color: $grey;
				}
			}
			&:after{
				content: '_';
			    color: white;
			    font-size: 4em;
			    position: absolute;
			    left: 50%;
			    top: -62px;
			    z-index: -1;
			    margin-left: -12px;
				@include breakpoint (mobile-landscape){
					top: -46px;
				}
			}
			&:first-child:after{
				content: '';
			}
		}
	}
}