#intro{
	position: relative;
	#img{
		width: 100%;
		height: 70%;
		margin-top: 46px;
		background-image: url(../img/brain2.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		@include breakpoint(mobile-landscape){
			height: 50%;
		}
	}
	#quote{
		width: 90%;
		height: 30%;
		margin: 0 5%;
		display: table;
		@include breakpoint(mobile-landscape){
			height: 50%;
		}
		p{
			font-size: 1.2em;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			@include breakpoint(mobile-landscape){
				font-size: 1em;
			}
		}
	}
	.arrow-wrap{
		width: 50%;
		position: absolute;
		bottom: 10px;
		left: 50%;
		.icon-arrow-down{
			color: $blue;
			font-size: 1.6em;
			width: 60px;
			margin-left: -30px;
			filter: opacity(50);
			opacity: 0.5;
			@include breakpoint(mobile-landscape){
				font-size: 1.2em;
			}
			&:hover, &:focus, &:active{
				cursor: pointer;
				filter: opacity(100);
				opacity: 1;
			}
		}
	}
}